<% layout("/layouts/boilerplate.ejs") %>

<body>
    <%- include("../includes/filters.ejs") %>

    <div class="cards">

        <% for(let listings of allListings){ %>
            <a href="/listings/<%= listings._id %>">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= listings.image.url %>" alt="">
                    </div>
                    <div class="card-details">
                        <div class="card-title"><b><%= listings.title %></b></div>
                        <div class="card-price">&#8377; <%= listings.price.toLocaleString("en-IN") %> / Night <span class="span hide"> &nbsp; + 18% GST</span></div>
                    </div>
                </div>
            </a>
        <% } %>

    </div>

    <% if(allListings.length == 0) { %>
        <div class="empty">
            <h1>Oops No Listings Found!</h1>
        </div>
    <% } %>

    <script src="/js/taxshow.js"></script>
    <script>
        let name = "<%= categoryName %>";
        let filter = document.getElementById(name);
        filter.style.opacity = "1";
        filter.style.transform = "scale(1.05)"

    </script>

</body>