<% layout("/layouts/boilerplate") %>
<body>
    
    <div id="show">
        <h1>Listing Details</h1>

        <div class="image">
            <img src="<%= listing.image %>">
        </div>

        <div class="title">
            <p><b>Title</b></p>
            <span><%= listing.title %></span>
        </div>

        <div class="description">
            <span><%= listing.description %></span>
        </div>

        <div class="price">
            <p><b>Price</b></p>
            <span> &#8377; <%= listing.price.toLocaleString("en-IN") %> /Night</span>
        </div>

        <div class="location">
            <p><b>Location</b></p>
            <span><%= listing.location %></span>
        </div>

        <div class="country">
            <p><b>Country</b></p>
            <span><%= listing.country %></span>
        </div>

        <div class="buttons">
            <form action="/listings/<%= listing._id %>/edit">
                <button id="btn">Edit</button>
            </form>
    
            <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                <button id="btn" class="black">Delete</button>
            </form>
        </div>
        
    </div>

    <hr>

    <div id="review">
        <form action="/listings/<%= listing._id %>/reviews" method="POST">
            <div class="rating">
                <label for="rating">your Rating</label>
                <select id="rating" name = "reviews[rating]">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="feedback">
                <label for="feedback">your Feedback</label>
                <textarea name="reviews[comment]" id="feedback" rows="10" cols="20"></textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>

    
</body>