<% layout("/layouts/boilerplate") %>
<body>
    
    <div id="show">

        <div class="show-image">
            <div class="image">
                <img src="<%= listing.image.url %>">
            </div>

            <div class="title">
                <span><%= listing.title %></span>
            </div>

            <div class="owner">
                <span><b>Owned By : </b><%= listing.owner.username %></span>
            </div>
        </div>

        <div class="show-info">
            <div class="description">
                <span><%= listing.description %></span>
            </div>
    
            <div class="price">
                <p><b>Price</b></p>
                <span> &#8377; <%= listing.price.toLocaleString("en-IN") %> /Night</span>
            </div>
    
            <div class="location">
                <p><b>Location</b></p>
                <span><%= listing.location %></span>
            </div>
    
            <div class="country">
                <p><b>Country</b></p>
                <span><%= listing.country %></span>
            </div>
    
            <% if( typeof currUser != 'undefined' && currUser._id.equals(listing.owner._id)) { %>
                <div class="buttons">
                    <form action="/listings/<%= listing._id %>/edit">
                        <button id="btn">Edit</button>
                    </form>
            
                    <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                        <button id="btn" class="black">Delete</button>
                    </form>
                </div>
            <% } %>

        </div>
        
    </div>

    <hr>

    <% if(typeof currUser != 'undefined') { %>

        <div id="review">
            <form action="/listings/<%= listing._id %>/reviews" method="POST">

                <h2>Leave Your Rating</h2>
                <p>Rating : </p>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="reviews[rating]" value="5" checked />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>

                <div class="feedback">
                    <label for="feedback" class="form-label">Your Feedback</label>
                    <textarea name="reviews[comment]" id="feedback" rows="10" cols="20" class="form-control" required></textarea>
                </div>
                <button id="btn" style="background-color : white; color : black;">Submit</button>
            </form>
        </div>

    <% } %>
    
    <div class="renderReview">
        <h2>All Reviews</h2>

        <div class="reviewCards">

            <% for(review of listing.review) { %>
                <div class="reviewCard">
                    <p><b>Author :</b> &nbsp; <%= review.author.username %></p>
                    <p><b>Feedback :</b> &nbsp; <%= review.comment %></p>
                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button id="btn">Delete</button>
                    </form>
                </div>
            <% } %>

        </div>

        <% if(listing.review.length == 0) { %>
            <div class="noReview">
                <h3>No Reviews for this listing!</h3>
            </div>
        <% } %>

    </div>

    
</body>